    
    body{

        font-family: 'Poppins', sans-serif;
        margin: 0;

    }
    
    h1 {

 font-size: 50px;
 

   }

   .name-highlight{
    color: orange;

   }

   .half-width {

    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    text-align: justify;

   }

   .half-width img {
  
    width: 100%;
    
   }

   .top-banner{
   
   background-image: url("image/top-banner.png");
   background-repeat: no-repeat;

   }

    section {
 
   height: 600px;

    }

.link-button{

    text-decoration: none;
    background-image: linear-gradient( 45deg, lightsalmon,tomato);
    padding: 10px 20px;
     border-radius: 5px;
     color:wheat;
     font-weight: bold;
   }
    
   .half-width1 {

    width: 33%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    text-align: justify;

   }

   .half-width1 img {
  
    width: 100%;
    
   }

   .layer2{
   
   background-image: url("image/dream-bg.png");
   background-repeat: no-repeat;
   background-position: right;

   }

    section {
 
   height: 600px;

    }

.link-button2{

    text-decoration: none;
    background-image: linear-gradient( 45deg, lightsalmon,tomato);
    padding: 10px 20px;
     border-radius: 5px;
     color:wheat;
     font-weight: bold;
   }
    
   .desin1 {

     color: orange;

   }

   .single{
   
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 45%;
    background-color: white;

   }

   .exprience-area{

   background-image: url("image/exp-bg.png");
   background-repeat: no-repeat;
   background-position: left;
   
   }

   #full-stack{

   border-left: 7px solid;
   border-image: linear-gradient(180deg,lightsalmon,tomato);
   border-image-slice: 1;

   }

     #baby-web{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
 
    }

    #foo{

  text-align: center;

    }